<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Admin Login Page</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form action="{% url 'admin_check' %}" method="post" id="login-form" class="form" >
                            {% csrf_token %}
                            <h3 class="text-center text-info">Admin Login Page</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Username:</label><br>
                                <input type="text" name="t1" id="username" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                <input type="password" name="t2" id="password" class="form-control" required>
                            </div>
                            <div class="form-group" style="text-align: center ">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                            </div>
                            {% if messeges %}
                                <tr>
                                <th>
                                    {% for x in messeges %}
                                        {{ x }}
                                    {% endfor %}
                                </th>
                                </tr>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

